# Database
LEARN_DB_USER=learn_user
LEARN_DB_PASSWORD=learn_password
LEARN_DB_NAME=learn-db
LEARN_DB_HOST=learn-db

# Internal security
INTERNAL_GATEWAY_TOKEN=replace_with_internal_gateway_token

# Notifications
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
RABBITMQ_REMINDER_QUEUE=sfg.word-reminders
